body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.header {
  background-color: #ccc;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

.chatbox {
  background-color: #fff;
  border-radius: 5px;
  width: 500px;
  height: 300px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.messages {
  padding: 20px;
  overflow-y: auto;
  flex: 1;
}

.user,
.bot {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.user .label,
.bot .label {
  font-weight: bold;
  margin-right: 10px;
  display: inline-block;
}

.user .text,
.bot .text {
  padding: 10px;
  border-radius: 5px;
  max-width: 90%;
  word-wrap: break-word;
}

.user .text {
  background-color: #007aff;
  color: #fff;
  align-self: flex-end;
}

.bot .text {
  background-color: #ccc;
  align-self: flex-start;
}

.cursor {
  display: inline-block;
  background-color: rgb(0, 0, 0);
  width: 5px;
  height: 20px;
  vertical-align: -3px;
  animation: blink 1s infinite;
}

.fake-cursor {
  display: inline-block;
  width: 5px;
  height: 20px;
  vertical-align: -3px;
}

@keyframes blink {
  0%,
  40% {
    background-color: rgb(124, 124, 124);
  }
  50%,
  100% {
    background-color: transparent;
  }
}
